.header__logo {
  max-width: 142px;
  height: 33px;
  width: 100%;
  margin: 45px 0 41px;
}

@media (max-width: 425px) {
  .header__logo {
    max-width: 104px;
    height: 24px;
    padding: 28px 0 31.6px;
    margin: 0;
  }
}