.popup__input {
  border: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__input:focus {
  outline-color: rgb(103, 148, 233);
  outline-width: 3px;
 }

 .popup__input:last-of-type {
  margin-bottom: 0;
 }

 .popup__input + .popup__input-error_active {
   margin-top: -25px;
 }

 .popup__input + .popup__input-error_active:last-of-type {
  margin-top: 5px;
}