.popup__avatar-button {
    width: 358px;
    height: 50px;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    margin: 48px 0 0;
    padding: 14px 0 18px;
    border: 2px solid black;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    outline: none;
    font-weight: 1;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  
  .popup__save-button:hover {
    opacity: .8;
  }
  
  @media (max-width: 425px) {
    .popup__avatar-button {
      max-width: 238px;
      height: 46px;
      padding: 14px 0 14px;
      margin: 59px 0 0;
      font-size: 14px;
      line-height: 17px;
    }
  }