.profile__add-button {
  min-width: 150px;
  height: 50px;
  background-image: url(../../../images/add--button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  padding: 0;
  border: 1px solid white;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 1280px) {
  .profile__add-button {
    margin: 36px 0 36px 110px;
  }
}

@media (max-width: 950px) {
  .profile__add-button {
    width: 100%;
    margin: 36px 0 0 0;
  }
}

@media (max-width: 675px) {
  .profile__add-button {
    max-width: 282px;
    width: 100%;
  }
}
